<%= render "layouts/head" %>
<div class="main-container">
  <div class="linee"></div>
  <div class="iconl one"><span>&#xe906;</span></div>

  <div class="marg">
    <h1><mark><strong>Linia&nbsp&nbsp&nbsp</strong></mark></h1>
    <h1>Это время</h1>
    <h1>дискуссия</h1>
    <h1>увлечение</h1>
  </div>

  <div class="testing">
    <div class="iconl"><span>&#xe907;</span></div>
    <h3 class="abt">Мы&nbsp;&mdash; это сервис, предоставляющий возможность создания <mark>таймлайнов</mark> и&nbsp;взаимодействия с&nbsp;ними.<br>Что&nbsp;бы ни&nbsp;было Вашим хобби&nbsp;&mdash; комиксы, фантастика, манга, настольные ролевые игры&nbsp;&mdash; если вам важно запомнить <mark>хронологию событий</mark>, &laquo;Linia&raquo; поможет.</h3>
  </div>

  <div class="righter">
    <div class="linea"></div>
    <div class="iconn"><span>&#xe901;</span></div>
    <div class="column">
      <h3>Целевая аудитория:</h3>
      <p class="frame">Фанаты вселенных</p>
      <p class="frame b">Игроки в настольные игры</p>
      <p class="frame">Новички в мире вселенных</p>
    </div>
  </div>

  <div class="testing no">
    <div class="">
      <h2><mark-2> Выводы по CASDEV </mark-2></h2>
      <ul class="conclude">
        <li>Единого способа потреблять продукты серии нет, но информация об этом интересна.</li>
        <li>Бóльшая часть опрашиваемых пробовали составлять таймлайны — в голове или на бумаге.</li>
        <li>Люди хотят делиться подобной информацией, но делать это неудобно.</li>
      </ul>
    </div>
  </div>

  <div class="testing">
    <div class="iconl"><span>&#xe90c;</span></div>
    <div class="mission">
      <h3>Решаемые задачи:</h3>
      <ul>
        <li>Указать <mark>порядок</mark> просмотра/чтения.</li>
        <li>Решить <mark>временные парадоксы</mark> фандома.</li>
        <li>Сохранить <mark>истории</mark> о путешествиях героев после игр.</li>
        <li>Напомнить <mark>сюжет</mark> перед просмотром нового сезона\фильма.</li>
      </ul>
    </div>
  </div>

  <div class="righter">
    <div class="linea"></div>
    <div class="iconn"><span>&#xe904;</span></div>
    <div class="enemy">
      <h3>Конкуренты:</h3>
      <div class="pics">
        <div class="tg"></div>
        <div class="js"></div>
        <div class="s"></div>
        <div class="reddit"></div>
        <div class="chan"></div>
        <div class="vk"><p>паблики VK</p></div>
        <div class="tt"></div>
        <div class="wiki"><p>wiki</p></div>
      </div>
    </div>
  </div>

  <div class="testing">
    <div class="iconl"><span>&#xe90c;</span></div>
    <div class="mission">
      <h3>Почему мы?</h3>
      <ul>
        <li>Графическое отображение последовательности событий гораздо логичнее, чем текст.</li>
        <li>У Linia есть определённая тематика.</li>
        <li>Есть способы взаимодействия с таймлайнами и пользователями.</li>
      </ul>
    </div>
  </div>

  <div class="testing no">
    <div class="funct">
      <h2><mark-2> Функции </mark-2></h2>
      <div class="table">
        <div class="row a">
          <div class="fircle right"><span>&#xe906;</span></div>
          <h3>создание и редактирование таймлайнов</h3>
        </div>
        <div class="row">
          <h3>комментарии</h3>
          <div class="fircle left right"><span>&#xe909;</span></div>
          <h3>добавление в избранное</h3>
          <div class="fircle left"><span>&#xe90c;</span></div>
        </div>
        <div class="row c">
          <div class="fircle right"><div class="search"></div></div>
          <h3>поиск&nbsp&nbsp</h3>
          <h3>теги</h3>
          <div class="fircle left right"><span>&#xe90d;</span></div>
          <h3>апвоут/даунвоут</h3>
          <div class="fircle left"><div class="updown"></div></div>
        </div>
        <div class="row d">
          <h3>сортировка и фильтрование найденного</h3>
          <div class="fircle left"><span>&#xe90b;</span></div>
        </div>
        <div class="row e">
          <div class="fircle right"><span>&#xe905;</span></div>
          <h3>регистрация/вход&nbsp</h3>
          <div class="fircle right left"><span>&#xe90a;</span></div>
          <h3>seo, smo</h3>
        </div>
        <div class="row f">
          <h3>счетчик просмотров</h3>
          <div class="fircle left"><span>&#xe908;</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="iconl last">
    <span>&#xe902;</span>
  </div>

</div>
<%= render "layouts/footer" %>
