<%= render "layouts/head" %>
<h1><mark-2>Linia </mark-2><br>сервис,<br>где описывают<br>время</h1>
<div class="item">
  <div class="circle"></div>
  <div>
    <h2>Библиотека хронологий вселенных</h2>
    <p>Простые таймлайны для сложных сюжетов от «Доктора Кто» до Вахи и авторских кампейнов по днд.</p>
  </div>
</div>
<div class="item">
  <div class="circle"></div>
  <h2>Подписывайся на новости и пиши</h2>
</div>
<%= render "subscribers/form" %>
<%= render "layouts/footer" %>
