<%= render "layouts/head" %>
<h1 class="title"><mark><strong>Linia&nbsp&nbsp&nbsp</strong></mark><br>сервис,<br>где описывают<br>время</h1>
<div class="line">
  <div class="circle free-rider"><span>&#xe906;</span></div>
  <div class="item">
    <div class="circle"><span>&#xe903;</span></div>
    <div>
      <h3>Библиотека хронологий вселенных</h3>
      <p>Простые таймлайны для <mark>сложных</mark> сюжетов от «Доктора Кто» до Вахи и авторских кампейнов по днд.</p>
    </div>
  </div>
  <div class="item">
    <div class="circle"><span>&#xe900;</span></div>
    <div>
      <h3>Площадка для дискуссий, сбора пруфов и ламповых историй</h3>
      <p>Смотри и оценивай таймлайны других фанатов, <mark>предлагай свои</mark>, единственно верные, версии, а потом устраивай баталии в комментариях. Или выбери путь мира и покоя и читай <mark>истории о приключениях</mark> из настолок.</p>
    </div>
  </div>
  <div class="item">
    <div class="circle"><span>&#xe909;</span></div>
    <div>
      <h3>Место для идей</h3>
      <p>Заинтерисуй друзей любимой вселенной, распространяй веру в Бога-Императора, <mark>поддерживай спор</mark> о сюжетных дырах. И это только часть вариантов.</p>
    </div>
  </div>
  <div class="item item-s">
    <div class="circle"><span>&#xe904;</span></div>
    <h3>Подписывайся на новости и пиши</h3>
  </div>
</div>
<div class="sub-f">
  <h1><mark-2>Свою историю</mark-2></h1>
  <%= render "subscribers/form" %>
</div>
<%= render "layouts/footer" %>
