.icon {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  background-image: url("../images/selector.svg");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center center;
  margin-right: 20px;
}
.style_image {
  width: 100vw;
  height: auto;
}
.cover {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 300px;
  overflow: hidden;
}
.maininfo {
  height: 200px;
  position: absolute;
  top: 50px;
  left: 6.5vw;
}
.tags {
  position: absolute;
  bottom: 0;
}
.new_com, .ocassions {
  margin-left: 6.5vw;
  margin-top: 100px;
  h3 {
    margin-bottom: 30px;
  }
}
.ocassions {
  margin-bottom: 200px;
  margin-top: 150px;
}
.bott {
  margin-left: 5.4vw;
}

.together {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.yeah {
  p {
    margin-bottom: 10px;
  }
}

// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
