body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  // font-family: verdana, arial, helvetica, sans-serif;
  // font-size: 13px;
  // line-height: 18px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  text-align: left;
  padding-bottom: 5px;
}

tbody tr {
border-top: 3px #F69F37 solid;
  &:first-of-type {
    border-top: none;
  }
}

tbody tr:hover {
  background-color: #2C3E9D;
}

.mm th {
  padding-bottom: 20px;
}

td {
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  font-size: 0.7em !important;
  line-height: 1em;
  padding-right: 4.2vw !important;
}
.neww {
  margin-left: 5vw;
}
table {
   border-collapse: collapse;
  // font-family: 'IBM Plex Mono', monospace !important;
  margin-left: 5vw !important;
  margin-right: 5vw !important;
  border-spacing: 0 200px;
  width: 90vw;
}
.also {
  margin-left: 5vw;
  display: flex;
  align-items: baseline;
  input[type="text" i] {
    background-color: transparent;
    border: 3px solid #F69F37;
    color: white;
}
}
.go, .k {
  margin-left: 5vw;
}
.k {
  margin-top: 100px;
}
.l {
  margin-top: 50px;
}
.p {
  margin-left: 5vw;
  margin-top: 10vh;
}
.postik a {
  font-size: 0.667em;
  color: white;
  opacity: 0.6;
  // margin-right: 10px;
  &:visited {
    color: white;
    opacity: 0.6;
  }
  &:hover {
    color: white;
  }
}

input[type="submit" i] {
  background: transparent;
  font-size: 0.667em;
  text-decoration: underline;
  color: white;
  &:hover {
    color: white;
    background: black;
  }
}
.hpost {
  margin-left: 5vw !important;
  margin-bottom: 40px;
}

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
