*{
  margin: 0;
  padding: 0;
  direction: 0;
  border: 0;
  outline: none;
}
.new_subscriber{
  height: 100px;
  width: 100%;
  display: flex;
  input{
    height: 100%;
    font-size: 1em;
  }
  input[type="email"] {
    color: #F69F37;
    width: 70%;
    border: solid 5px #F69F37;
    background: 0;
    padding-left: 25px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    background-color: #F69F37;
    width: 30%;
  }
}
