<header>
  <h4 class="first"><%= link_to "о проекте", "../landing/about" %></h4>
  <div>
    <h4 class="second"><%= link_to "посты", "../posts/index" %></h4>
    <h4 class="third"><%= link_to "splash", "../welcome/splash" %></h4>
  </div>
</header>
